.d-block{
    height: 700px;
}

img {
    height: 180px;
}

.bg-color {
    background: rgb(255,209,0);
    background: radial-gradient(circle, rgba(255,209,0,1) 0%, rgba(255,74,74,1) 50%, rgba(255,0,244,1) 100%);
}

.wu-bg {
    background: rgb(255,209,0);
    background: radial-gradient(circle, rgba(255,209,0,1) 0%, rgba(255,0,0,1) 100%);
}

#nav-logo
{
height: 115px;
}

.TW-bg {
    background: rgb(0,252,255);
background: linear-gradient(0deg, rgba(0,252,255,1) 0%, rgba(192,45,253,1) 100%);
}

.D-bg {
    background: rgb(46,255,250);
background: linear-gradient(0deg, rgba(46,255,250,1) 0%, rgba(255,247,166,1) 75%);
}

.TS-bg {
    background: rgb(205,0,0);
background: radial-gradient(circle, rgba(205,0,0,1) 0%, rgba(89,89,89,1) 100%);
}

.MW-bg {
    background: rgb(15,15,15);
    background: linear-gradient(177deg, rgba(15,15,15,1) 0%, rgba(186,130,114,1) 50%, rgba(235,235,235,1) 100%);
}

.y-bg{
    background: rgb(166,255,131);
background: radial-gradient(circle, rgba(166,255,131,1) 0%, rgba(8,82,0,1) 100%);
}


.JW-bg {
    background: rgb(255,252,131);
background: radial-gradient(circle, rgba(255,252,131,1) 0%, rgba(255,0,201,1) 100%);
}

.SD-bg {
    background: rgb(105,255,36);
background: radial-gradient(circle, rgba(105,255,36,1) 0%, rgba(77,77,77,1) 100%);
}

.KL-bg {
    background: rgb(255,198,0);
background: radial-gradient(circle, rgba(255,198,0,1) 0%, rgba(146,0,255,1) 100%);
}

.FS-bg {
    background: rgb(255,255,255);
background: radial-gradient(circle, rgb(111, 107, 107) 0%, rgba(0,232,255,1) 100%);
}

.IC-bg {
    background: rgb(0,180,178);
    background: radial-gradient(circle, rgba(0,180,178,1) 0%, rgba(0,59,144,1) 100%);
}

.E-bg {
    background: rgb(249,255,91);
    background: radial-gradient(circle, rgba(249,255,91,1) 0%, rgba(0,0,0,1) 100%);
}

.U-bg {
    background: rgb(124,85,0);
background: radial-gradient(circle, rgba(124,85,0,1) 0%, rgba(158,158,158,1) 100%);
}

.MJ-bg {
    background: rgb(255,0,0);
background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%);
}

.BS-bg {
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
}


.WS-bg {
    background: rgb(156,156,156);
    background: linear-gradient(180deg, rgba(156,156,156,1) 10%, rgba(255,0,134,1) 25%, rgba(255,0,0,1) 50%, rgba(255,128,0,1) 75%, rgba(255,235,0,1) 100%);
}